<div class="tw:flex tw:items-center">
  <span class="tw:text-nowrap">Elements per page :</span>
  <!-- TO REMOVE ANNOYING RING WHEN FOCUSED : tw:focus:outline-none tw:focus-within:outline-none  -->

  <select
    class="tw:select tw:select-ghost tw:focus:outline-none tw:focus-within:outline-none"
    (change)="setPageSize($event)"
    [ngModel]="table().getState().pagination.pageSize"
  >
    @for(pageSize of pageSizes(); track $index;) {
    <option>{{ pageSize }}</option>
    }
  </select>
  <div class="tw:flex tw:gap-1 tw:items-center">
    <button
      class="tw:btn tw:btn-circle tw:btn-ghost tw:btn-sm"
      (click)="table().firstPage()"
      [disabled]="!table().getCanPreviousPage()"
    >
      <span class="material-symbols-outlined">first_page</span>
    </button>

    <button
      class="tw:btn tw:btn-circle tw:btn-ghost tw:btn-xs"
      (click)="table().previousPage()"
      [disabled]="!table().getCanPreviousPage()"
    >
      <span class="material-symbols-outlined">keyboard_arrow_left</span>
    </button>

    <span
      >{{ table().getState().pagination.pageIndex + 1 }}/{{
        table().getPageCount()
      }}</span
    >

    <button
      class="tw:btn tw:btn-circle tw:btn-ghost tw:btn-xs"
      (click)="table().nextPage()"
      [disabled]="!table().getCanNextPage()"
    >
      <span class="material-symbols-outlined">keyboard_arrow_right</span>
    </button>

    <button
      class="tw:btn tw:btn-circle tw:btn-ghost tw:btn-xs"
      (click)="table().lastPage()"
      [disabled]="!table().getCanNextPage()"
    >
      <span class="material-symbols-outlined">last_page</span>
    </button>
  </div>

</div>

<!-- class="tw:select tw:select-ghost tw:focus:outline-none tw:focus-within:outline-none" -->
<!-- @let sel = table().getState().pagination.pageSize; -->
